.footer-link-footer {
  padding: 0.5rem 1rem !important;
  border-radius: 5px !important;
  transition: background-color 0.3s ease !important;
}

a {
  color: #6c757d !important;
}

a:hover {
  color: #d3d3d3 !important; /* Light gray color */
  text-decoration: none !important;
}

::selection {
  background: #d3d3d3 !important;
  text-shadow: none !important;
}

footer {
  padding: 2rem 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-columns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125%;
}

.footer-column-footer:not(:first-child) {
  padding-top: 2rem !important;
}

@media (min-width: 768px) {
  .footer-columns-container {
    flex-direction: row;
    justify-content: center;
  }

  .footer-column-footer:not(:first-child) {
    padding-top: 0rem !important;
  }
}

.footer-column-footer {
  text-align: center !important;
  flex: 1;
  width: 100%;
  max-width: 205px;
}

.footer-column-footer .nav-item-footer .nav-link-footer {
  padding: 0.1rem 0 !important;
  display: flex !important;
  flex-direction: row !important; /* Change to row to align icon and text horizontally */
  align-items: center !important;
}

.footer-column-footer .nav-item-footer span.nav-link-footer {
  color: #6c757d !important;
}

.footer-column-footer .nav-item-footer span.footer-title-footer {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #fff !important;
  text-transform: uppercase !important;
}

.footer-column-footer .nav-item-footer .fas {
  margin-right: 0.5rem !important; /* Adjust margin to the right to space between icon and text */
}

.social-buttons-footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: initial;
}

.list-inline-item-footer {
  list-style: none;
  padding: initial;
}

.list-inline-item-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.list-inline-item-footer a:hover {
  background-color: #d3d3d3;
}

.social-icon {
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

footer .quick-links-footer {
  font-size: 90% !important;
  line-height: 40px !important;
  margin-bottom: 0 !important;
  text-transform: none !important;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.copyright-footer {
  color: white !important;
}

.fa-ellipsis-h {
  color: white !important;
  padding: 2rem 0 !important;
}