@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.nav-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.nav-list-header {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item-header {
  margin-right: 1rem;
}

/* Ajustes específicos para nav-dois-header */
.nav-dois-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  flex-wrap: wrap; 
}

.pesquisa-header {
  margin-right: 1rem;
  flex: 1 1 auto; 
  max-width: 300px; 
}

.entrar-header,
.inscrever-se-header {
  margin-left: 1rem;
  flex: 0 1 auto; /* Permite que os links se ajustem ao espaço disponível */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 1rem;
}

#logo-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-list-header {
  display: flex;
  justify-content: center; 
  width: 500px;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.pesquisa-header {
  border-radius: 9px;
  height: 35px;
  width: 250px;
  opacity: 0.3;
  margin-right: 25px;
  color: black;
}

.entrar-header, .inscrever-se-header {
  margin-left: 20px;
}

.inscrever-se-header {
  padding: 0.6rem;
  border: 1px white solid;
  border-radius: 5px;
  width: 93px;
  text-align: center;
}

.inscrever-se-header:hover {
  border: 1px gray solid;
  color: gray;
}

.hamburguer-header {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hamburguer-line {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

@media (max-width: 1154px) {
  .nav-header {
    display: none;
  }
  .nav-dois-header {
    display: none;
  }
  .hamburguer-header {
    display: flex;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 60px; 
    right: 20px; 
    padding: 10px; 
    border-radius: 5px; 
  }

  .mobile-menu .nav-list-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
  }
  .mobile-menu .nav-item-header {
    margin: 0.3rem 0;
  }
}