@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.header-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 35px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  width: 100%;
}

.logo-header {
  width: 130px;
  fill: white;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

#logo-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-list-header {
  display: flex;
  justify-content: center; 
  width: 500px;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.nav-header {
  display: flex;
  height: 56px;
}

.nav-header a {
  text-decoration: none;
  margin: 0.8rem;
   margin: 0 15px;
}

.nav-dois-header {
  display: flex;
  align-items: center;
  gap: 45px;
}

.pesquisa-header {
  border-radius: 9px;
  height: 20px;
  width: 250px;
  opacity: 0.3;
  margin-right: 25px;
  color: black;
}

.entrar-header, .inscrever-se-header {
  margin-left: 20px;
}

.inscrever-se-header {
  padding: 0.6rem;
  border: 1px white solid;
  border-radius: 5px;
  width: 91px;
}

.inscrever-se-header:hover {
  border: 1px gray solid;
  color: gray;
}

.hamburguer-header {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hamburguer-line {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

@media (max-width: 1154px) {
  .nav-header {
    display: none;
  }
  .nav-dois-header {
    display: none;
  }
  .hamburguer-header {
    display: flex;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 60px; 
    right: 20px; 
    padding: 10px; 
    border-radius: 5px; 
  }

  .mobile-menu .nav-list-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
  }
  .mobile-menu .nav-item-header {
    margin: 0.3rem 0;
  }
}