* {
  box-sizing: border-box;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

:root {
  --color-button: #4CAF50;
  --color-label: #c8e0ec;
  --color-label-black: #040f14;
  --color-form-bg: rgba(255, 255, 255, 0.9);
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 35%);
  pointer-events: none;
}

.cartao-login {
  position: relative;
  margin: 1% auto;
  width: 90%;
  max-width: 500px;
  padding: 15px 30px 44px;
  border-radius: 20px;
  background: var(--color-form-bg);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10
}

@media (min-width: 628px) {
  .cartao-login {
    width: 70%;
    max-width: 500px;
  }
}

.titulo-login {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 12px;
  color: var(--color-primary-light);
  color: #f9f9f9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-form {
  color: var(--color-primary-light);
  font-size: 24px;
  margin: 0 0 12px;
  font-size: 62px;
}

.logo {
  width: 35%;
  height: 30%;
  margin-left: 30%;
}

h1 {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.linha-divisoria {
  border-top: 1px solid var(--color-label-black);
}

.campo-label {
  display: block;
  margin-bottom: 8px;
  color: var(--color-label-black) !important;
  left: 10px;
  text-align: left;
}

.cartao-login > h3 {
  color: rgb(255 255 255 / 38%);
  margin: 0 0 48px;
  font-weight: 400;
  font-size: 16px;
}

.formulario-login {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
  margin-top: 15px;
}

.formulario-login > :is(input, button) {
  width: 100%;
  height: 56px;
  border-radius: 6px;
  border: 0;
}

.formulario-login > input {
  color: var(--color-text);
  background: var(--color-primary-light);
  font-family: inherit;
  font-size: 16px;
  padding: 0 16px;
}

.formulario-login > input:focus {
  outline: var(--color-primary);
}

.formulario-login > input::placeholder {
  color: rgb(255 255 255 / 38%);
}

.formulario-login > button {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: var(--color-button);
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  transition: all 0.375s;
}

.formulario-login > a {
  color: var(--color-primary);
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  margin-bottom: 30px;
}

.campo-senha {
  position: relative;
}

.campo-senha input {
  padding-right: 50px;
}

.alternar-visibilidade-senha {
  position: absolute;
  right: 10px;
  top: 65%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

.icone-pequeno {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.botao-rede-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  border-radius: 6px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: all 0.375s;
  margin-bottom: 16px;
  background: grey;
}

.botao-rede-social img {
  margin-right: 10px;
}

.formulario-lista,
.redes-sociais-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.formulario-item,
.redes-sociais-item {
  margin-bottom: 16px;
}

.redes-sociais-item:last-child {
  margin-bottom: 0;
}

.divisor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -8px 0;
}

.divisor-linha {
  flex: 1;
  height: 1px;
  background-color: #5e7e8b;
}

.divisor span {
  margin: 0 10px;
  color: var(--color-primary-light);
}